{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
<div class="container">
	<div class="row">
		<!-- Blog Post Content Column -->
		<div class="col-lg-8">
			<!-- Title -->
			<h1>{{ social.title }}</h1>

			<hr>

			<!-- Preview Image -->
			{% thumbnail social.cover "750x250" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			{% endthumbnail %}

			<hr>

			<!-- Post Content -->
			<p>{{ social.description|safe }}</p>

			<hr>

		</div>

		<!-- Blog Sidebar Widgets Column -->
		<div class="col-md-4">

			<h4>На карте</h4>
			<div class="row">
				<div class="col-lg-6">
					<div id="map" style="width: 300px; height: 300px;"></div>
				</div>
			</div>

			 <h4>Контакты</h4>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-unstyled">
						<li>{{ social.phone }}</li>
						{% if social.address %}
							<li>{{ social.address }}</li>
						{% endif %}

						{% if social.email %}
							<li>{{ social.email }}</li>
						{% endif %}

						{% if social.www %}
							<li>{{ social.www }}</li>
						{% endif %}
					</ul>
				</div>
			</div>

			{% if social.bank %}
				<h4>Реквезиты</h4>
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-unstyled">
							{% if social.bank %}
								<li>{{ social.bank }}</li>
							{% endif %}

							{% if social.special_account %}
								<li>{{ social.special_account }}</li>
							{% endif %}

							{% if social.personal_account %}
								<li>{{ social.personal_account }}</li>
							{% endif %}
						</ul>
					</div>
				</div>
			{% endif %}

		</div>
		<!-- Side Widget Well -->

	</div>
</div>



<script type='text/javascript'>
	var socials = [];
	var markers = [];
	function initialize() {

		var mapOptions = {
			zoom:  18,
			center: new google.maps.LatLng({{ social.get_latitude }}, {{ social.get_longitude }}),
			mapTypeId: google.maps.MapTypeId.TERRAIN,
			zoomControl: true,
			scrollwheel: false,
			zoomControlOptions: {
				position: google.maps.ControlPosition.LEFT_CENTER
			},
		}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);

		function setMarkers(map, locations) {
			var bounds = new google.maps.LatLngBounds();
			for (var i = 0; i < locations.length; i++) {
				var social = locations[i];
				var myLatLng = new google.maps.LatLng(social[1], social[2]);
				var marker = new google.maps.Marker({
					position: myLatLng,
					map: map,
					icon: social[3],
					clickable: true,
					title: social[0],
					zIndex: 1000
				});
				 bounds.extend(marker.position);
							 marker.info = new google.maps.InfoWindow({
				content: social[4]
			});

			google.maps.event.addListener(marker, 'click', function() {
				for (var i = 0; i < locations.length; i++) {
					markers[i].info.close();
				}
				this.info.open(map, this);
			});
			map.fitBounds(bounds);
			markers.push(marker);
			}
		}

		{% thumbnail social.category.point "50x50" crop="center" format="PNG" as im %}
			socials.push(['{{ social.title }}', {{ social.get_latitude }}, {{ social.get_longitude }}, '{{ im.url }}', 'vedveve']);
		{% endthumbnail %}

		setMarkers(map, socials);
	}


	$(function() {
		initialize();
	});
</script>
{% endblock %}