<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">SocialHubs</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Главная</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for category in categories %}
							<li><a href="{{ category.link_category }}">{{ category.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li>
					<form class="b-form_main" action="/search/" method="get">
						<input type="submit" value="Проложить маршрут" class="b-button">
						<input id="id_lat" name="lat" type="hidden" value="52.499074"/>
						<input id="id_lng" name="lng" type="hidden" value="13.322726" />
						<input id="id_lat" name="end_lat" type="hidden" value=""/>
						<input id="id_lng" name="end_lng" type="hidden" value="" />
					</form>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>